Lenguajes_de_Marcas/esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="gastos_familiares">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="miembros">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="miembro" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre"   type="xs:string"/>
                                        <xs:element name="apellido" type="xs:string"/>
                                        <xs:element name="rol"      type="xs:string"/>
                                        <xs:element name="email"    type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="movimientos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="movimiento" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id_miembro"   type="xs:integer"/>
                                        <xs:element name="categoria"    type="xs:string"/>
                                        <xs:element name="subcategoria" type="xs:string"/>
                                        <xs:element name="importe"      type="xs:decimal"/>
                                        <xs:element name="fecha"        type="xs:date"/>
                                        <xs:element name="descripcion"  type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
